.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  width: 288px;
  height: 48px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    width: 360px;
    height: 66px;
  }
}