.header {
  display: flex;
  width: 90%;
  align-self: center;
  justify-content: space-between;
  margin-top: 28px;
}

@media screen and (max-width: 320px) {
    .header {
        margin-top: 16px;
    }
  } 