.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
}
@media screen and (max-width: 1279px) {
  .content {
    max-width: 928px;
  }
}
@media screen and (max-width: 928px) {
  .content {
    min-width: 320px;
    max-width: 100%;
  }
}